body 
{
    font-family: 'Roboto';
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.nav_bar
{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav_element
{
    font-size: large;
    margin-right: 2.65%;
    color: gray;
    transition: transform .5s ease;
}

.nav_element:hover
{

    transform: scale(1.2);
    color: black;
}

.div
{
    width: 100%;
    height: 650px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div2 
{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1b1b1b;
    justify-content: center;
}

.div_text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align-last: right;
}

img
{
    background-color: transparent;
    max-height: 90%;
}

h2
{
    font-weight: bold;
    font-size: xx-large;
}


.btn
 {
    border: 2.5px solid black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    margin-left: 32%;
    background-color: transparent;
}

.btn:hover
{
    color: white;
    background-color: black;
}



.btn-accent-dark {
    border: 2.5px solid white;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    margin-left: 32%;
    background-color: transparent;
}

.btn-accent-dark:hover
{
    color: black;
    background-color: white;
}

.flip-image
{
  -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
}

.accent-dark
{
    color: #ffffff;
}

#myBtn 
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: large;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    padding: 0.8%;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: transparent;
}